service/target
builtin-package/*.wasm
builtin-package/scheduled/*.air
registry.tar.gz
registry
distro/target/
distro/registry-service/

**/*.rs.bk
**/.idea
**/artifacts
**/.DS_Store
**/node_modules
**/dist
*.drawio

aqua/*.tgz
examples/src/generated/**

**/__pycache__
tmp
