service/target
builtin-package/*.wasm
builtin-package/scheduled/*.air
registry.tar.gz

**/*.rs.bk
**/.idea
**/artifacts
**/.DS_Store
**/node_modules
**/dist

# Remove after https://github.com/fluencelabs/aqua/issues/287
aqua/target/typescript/**
example/src/generated/**

**/__pycache__
